@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--color-bg-dark: #0c1014;
	--color-bg-light: #1f1f22;
	--color-border: #494d53;
	--color-text: #f2f4f6;
	--color-text-dimmed: #9fa4aa;
	--color-highlight: #234a91;
	--color-error: #d32f2f;
	--color-button: #0f5bda;
	--color-button-hover: #276cde;
	--color-button-transparent-hover: #363639;
	--color-icon: #f5f5f5;
	--color-sidebar-hover: #25282c;

	--primary-font-family: "Inter";
	--secondary-font-family: "Noto Serif";

	--background-clr: #262624;
	--select-background-clr: #3e3e38;
	--light-white-clr: #e7effd;
	--white-clr: #d2d2d2;
	--gray-clr: #777;
	--black-clr: #20212c;
	--orange-clr: #ff6234;
	--blue-clr: #1b89c0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
	color: var(--color-text);
	background-color: var(--color-highlight);
}

body {
	color: var(--color-text);
	background-color: var(--color-bg-dark);
	font-size: 18px;
	font-family: var(--primary-font-family), sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

input {
	outline: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 20px;
}
