@import url("./base.css");
@import url("./components/navigation.css");
@import url("./components/header.css");
@import url("./components/drum.css");
@import url("./components/cinema.css");
@import url("./components/seat.css");

.reservation {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 80vh;
	color: var(--white-clr);
}

.reservation__movie-switcher {
	display: flex;
	align-items: center;
	gap: 50px;
}

.reservation__label {
	font-size: 60px;
	font-weight: 600;
}

.reservation__dropdown {
	height: fit-content;
	padding: 5px 10px;
	border-radius: 10px;
	border: none;
	outline: 0;
	font-size: 20px;
	appearance: none;
}

.reservation__main {
	width: 480px;
	height: 480px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.reservation__legend {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.reservation__legend-item {
	display: flex;
	gap: 10px;
}

.reservation__legend-text {
	font-size: 18px;
}

.reservation__receipt {
	font-size: 20px;
}

.reservation__receipt-span {
	color: var(--blue-clr);
}

.reservation__button {
	width: 180px;
	padding: 8px 20px;
	border-radius: 6px;
	border: 0;

	outline: 0;
	font-size: 20px;
	color: var(--white-clr);
	border: 1px solid var(--orange-clr);
	/* background-color: var(--orange-clr); */
	background: transparent;
	cursor: pointer;
	transition:
		color 0.4s ease,
		border-color 0.4s ease;
}

.reservation__button--inactive {
	border: 1px solid var(--select-background-clr);
	color: var(--gray-clr);
	cursor: not-allowed;
}

.error-notification {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%, -60px);
	transition: transform 0.5 ease;

	/* display: flex; */
	display: none;
	justify-content: center;
	align-items: center;

	height: 30px;
	padding: 15px;

	border-radius: 10px;
	background-color: var(--white-clr);
	color: var(--red-clr);
}

.error-notification--visible {
	transform: translate(-50%, 0);
}
